<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-2">
      <h1>Dados</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3 p-2" *ngFor="let data of datas">
      <div class="card" style="width: 100%; height: 100%">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">
            {{ data.type }} <br />{{ data.title }}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ data.date }} <br />
            <p *ngIf="data.startTime">
              Start: {{ data.startTime }} <br />
              End: {{ data.endTime }}
            </p>
          </h6>
          <p class="card-text">
            {{ data.description }}
          </p>
          <ul
            class="list-group list-group-flush"
            *ngIf="!verifyObject(data.variableDates)"
          >
            <li
              class="list-group-item"
              *ngFor="let variable of data.variableDates | keyvalue"
            >
              {{ variable.key }} - {{ variable.value }}
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted">
          {{ data.legislation }}
        </div>
      </div>
    </div>
  </div>
</div>
